<a href="https://colab.research.google.com/github/amishnepal/newProj/blob/main/asmnt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

# Step 2: Load a sample dataset
# For this example, let's use the Titanic dataset from seaborn
data1 = pd.read_csv('/content/sample_data/California_Houses.csv')

# Display the first few rows of the dataset
print(data1.head())

# Check the dimensions of the dataset
print(data1.shape)

# Get summary statistics of numerical variables
print(data1.describe())

   Median_House_Value  Median_Income  Median_Age  Tot_Rooms  Tot_Bedrooms  \
0            452600.0         8.3252        41.0      880.0         129.0
1            358500.0         8.3014        21.0     7099.0        1106.0
2            352100.0         7.2574        52.0     1467.0         190.0
3            341300.0         5.6431        52.0     1274.0         235.0
4            342200.0         3.8462        52.0     1627.0         280.0

   Population  Households  Latitude  Longitude  Distance_to_coast  \
0       322.0       126.0     37.88    -122.23        9263.040773
1      2401.0      1138.0     37.86    -122.22       10225.733072
2       496.0       177.0     37.85    -122.24        8259.085109
3       558.0       219.0     37.85    -122.25        7768.086571
4       565.0       259.0     37.85    -122.25        7768.086571

   Distance_to_LA  Distance_to_SanDiego  Distance_to_SanJose  \
0   556529.158342         735501.806984         67432.517001
1   554279.850069         733236.884360         65049.908574
2   554610.717069         733525.682937         64867.289833
3   555194.266086         734095.290744         65287.138412
4   555194.266086         734095.290744         65287.138412

   Distance_to_SanFrancisco
0              21250.213767
1              20880.600400
2              18811.487450
3              18031.047568
4              18031.047568
(15727, 14)
       Median_House_Value  Median_Income    Median_Age     Tot_Rooms  \
count        15727.000000   15726.000000  15726.000000  15726.000000
mean        200615.792014       3.813704     28.780872   2662.592395
std         112723.858729       1.889150     12.517655   2288.601754
min          14999.000000       0.499900      1.000000      2.000000
25%         118300.000000       2.520200     18.000000   1439.250000
50%         172400.000000       3.475000     29.000000   2108.500000
75%         248450.000000       4.669900     37.000000   3136.750000
max         500001.000000      15.000100     52.000000  39320.000000

       Tot_Bedrooms    Population    Households      Latitude     Longitude  \
count  15726.000000  15726.000000  15726.000000  15726.000000  15726.000000
mean     548.468587   1450.677731    507.247743     35.124231   -118.990322
std      441.768125   1178.920001    398.903996      2.053186      1.856966
min        2.000000      3.000000      2.000000     32.540000   -124.350000
25%      296.000000    794.000000    280.000000     33.850000   -120.347500
50%      437.000000   1173.000000    410.000000     34.080000   -118.270000
75%      654.000000   1747.000000    607.000000     36.900000   -117.860000
max     6445.000000  35682.000000   6082.000000     41.950000   -114.310000

       Distance_to_coast  Distance_to_LA  Distance_to_SanDiego  \
count       15726.000000    1.572600e+04          1.572600e+04
mean        41276.795109    2.087085e+05          3.225980e+05
std         49193.653662    2.348679e+05          2.749680e+05
min           193.186806    4.205891e+02          4.849180e+02
25%          9646.802711    2.412002e+04          1.499247e+05
50%         20628.367659    8.028998e+04          1.794759e+05
75%         52724.122733    4.167289e+05          5.947717e+05
max        333804.686371    1.018260e+06          1.196919e+06

       Distance_to_SanJose  Distance_to_SanFrancisco
count         15726.000000              15726.000000
mean         413352.655355             457756.948351
std          196645.918894             231223.894403
min           15032.880855                679.906897
25%          217395.862167             253234.852617
50%          493892.112574             561727.124334
75%          531248.626005             599053.497926
max          836762.678210             903627.663298

In [4]:
# Step 3: Find and handle missing values
# Check for missing values
missing_values = data1.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Median_House_Value          0
Median_Income               1
Median_Age                  1
Tot_Rooms                   1
Tot_Bedrooms                1
Population                  1
Households                  1
Latitude                    1
Longitude                   1
Distance_to_coast           1
Distance_to_LA              1
Distance_to_SanDiego        1
Distance_to_SanJose         1
Distance_to_SanFrancisco    1
dtype: int64

In [5]:
scaler = MinMaxScaler()
data1[['Median_Income', 'Median_Age']] = scaler.fit_transform(data1[['Median_Income','Median_Age']])